div.nature-container {
    width: 100%;
}
div.nature-item {
    border: 2px dashed #99925D;
    background-color: #FCFAF5;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
div.nature-item span.nature {
    font-family: 'Gabriela';
    font-weight: bold;
}
div.nature-item p {
    font-size: .9em;
    margin: 0px;
}