/* drives list */
div.overlay-add-drive-content { }
div.overlay-add-drive-list div.repcontainer {
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: .1fr;
    gap: 5px;
}
div.drives-list-item {
    height: 100%;
    border: 2px dashed #99925D;
    background-color: #FCFAF5;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
input.drive-is-starting[value="1"] + div.drives-list-item {
    border: 2px solid red;
}
div.drives-list-item div.action-button {
    text-align: right;
    margin: 0;
    padding: 0;
    height: 0;
    display: none;
}
div.drives-list-item:hover div.action-button {
    display: block;
}
div.drives-list-item div.action-button button {
    font-size: .8em;
    margin: 0;
    padding: 2px;
    line-height: .8em;
}
div.drives-list-item span.drive-name {
    font-family: 'Gabriela';
    font-weight: bold;
    border: none;
    display: block;
}
div.drives-list-item span.drive-rule {
    font-size: .9em;
}

input.drive-has-named-target[value="0"] + input {
    display: none;
}
input.drive-has-named-target[value="1"] + input {
    display: block;
}
    


/* Hide fieldset buttons */
[data-groupname=repeating_add-drives] > button.btn.repcontrol_add { display: none; }
[data-groupname=repeating_add-drives] > button.btn.repcontrol_edit { display: none; }
