div.drives-container {
    position: relative;
    width: 100%;
}
div.drive-item div.drive-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.drive-item span.drive-title {
    font-family: 'Gabriela';
    font-weight: bold;
    font-size: 1em;
}
div.drive-item button.drive-to-chat { 
    display: none; 
    line-height: 12px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    margin: 0;
	cursor: pointer;
	outline: inherit;
    box-shadow: none;
}
div.drive-item:hover .drive-to-chat {
    display: inline;
}
div.drive-item .drive-to-chat:hover {
    color: red;
}
div.drive-item span.drive-rule {
    font-size: .9em;
    margin: 0px;
}
div.drive-item {
    border: 2px dashed #99925D;
    background-color: #FCFAF5;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

/* Style buttons on container */
div.drives-container button.repcontrol_edit, 
div.drives-container button.add-drive {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    border: 1px solid #99925D;
    background: none;
    background-color: #FCFAF5;
    margin: 0px;
    outline: inherit;
    -moz-border-radius: 5px; 
    border-radius: 5px;
    padding: 1px 6px;
}
div.drives-container button.repcontrol_edit:hover, 
div.drives-container button.add-drive:hover {
    background-color: rgb(200, 200, 170);
}
div.drives-container button.repcontrol_edit::after, 
div.drives-container button.add-drive::after {
    font-family: Pictos;
}
   
/* Add button */
div.drives-container button.add-drive {
    right: 75px;
}

div.drives-container button.add-drive::after {
    content: ' &'; /* "+" symbol in Pictos font */
}

/* Built-in fieldset button groups */
[data-groupname=repeating_drives] > button.btn.repcontrol_add { 
    /* Make the button disappear */
    margin: 0px; padding: 0px; line-height: 0px; height: 0px; width: 0px; overflow: hidden; border: 0; 
}
[data-groupname=repeating_drives] > button.btn.repcontrol_edit {
    right: 0;
    width: 71px;
}
[data-groupname=repeating_drives] > button.btn.repcontrol_edit::after { 
    content: " y"; /* "gear" symbol in Pictos font */
}