/* https://codepen.io/quadbaup/pen/rKOKQv */

.sheet-rolltemplate-thought div.sheet-template-container {
    display: inline-block;
}

.sheet-rolltemplate-thought div.sheet-template-thought {
    background-color: #FCFAF5;
    margin: 20px 10px 10px 0px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    
}
.sheet-rolltemplate-thought div.sheet-template-content {
    position: relative;
    z-index: 1;
}
.sheet-rolltemplate-thought div.sheet-template-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sheet-rolltemplate-thought div.sheet-template-title {
    font-family: 'Gabriela';
    font-weight: bold;
    font-size: 1em;
    color: #99925D;
}
.sheet-rolltemplate-thought div.sheet-template-tag {
    color: rgba(0,0,0,.5);
    line-height: 0px;
    font-size: .75em;
}
.sheet-rolltemplate-thought div.sheet-template-description {
    font-size: .85em;
}

.sheet-rolltemplate-thought div.sheet-template-bubbles-1,
.sheet-rolltemplate-thought div.sheet-template-bubbles-2 {
    content: "";
    background-color: #FCFAF5;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: 0;
}
.sheet-rolltemplate-thought div.sheet-template-bubbles-1 {
    width: 44px;
    height: 44px;
    bottom: -12px;
    right: 28px;
    box-shadow: 50px -30px 0 -12px #FCFAF5;
}
.sheet-rolltemplate-thought div.sheet-template-bubbles-2 {
    top: -10px;
    left: 26px;
    width: 30px;
    height: 30px;
    box-shadow: -40px  34px 0   0   #FCFAF5,
                 28px   6px 0  -2px #FCFAF5,
                 24px -17px 0  -6px #FCFAF5,
                  5px -25px 0 -10px #FCFAF5;

}



.sheet-rolltemplate-statroll div.sheet-template-container {
    display: inline-block;
    width: 100%;
}
.sheet-rolltemplate-statroll div.sheet-template-content {
    padding: 15px 10px 10px 10px;
    border: 2px dashed #574F30;
    -moz-border-radius: 10%; 
    border-radius: 10%;
    background-color: #FCFAF5;
    box-sizing: border-box;
    width: 100%;
}
.sheet-rolltemplate-statroll div.sheet-template-stat {
    text-align: center;
}
.sheet-rolltemplate-statroll span.sheet-template-stat {
    font-weight: bolder;
    font-family: 'Gabriela';
    color: #574F30;
    font-size: 1.4em;
}
.sheet-rolltemplate-statroll span.sheet-template-stat-mod {
    font-family: 'Gabriela';
    color: rgba(0,0,0,.5);
    font-size: 1.1em;
}
.sheet-rolltemplate-statroll span.sheet-template-stat-mod .inlinerollresult {
    background: none;
    border: none;
    font-weight: normal;
    padding: 0;
}

.sheet-rolltemplate-statroll hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #574F30;
}
.sheet-rolltemplate-statroll div.sheet-template-roll {
    text-align: center;
    font-size: 1.4em;
}
.sheet-rolltemplate-statroll div.sheet-template-roll .inlinerollresult {
    background: none;
    border: none;
}
.sheet-rolltemplate-statroll div.sheet-template-roll-outcome {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Gabriela';
    color: rgba(0,0,0,.5);
    font-size: 0.9em;
    font-style: italic;
}

