input.overlay-visibility[value="1"] + div.overlay-container { display: block; }
input.overlay-visibility[value="0"] + div.overlay-container { display: none; }
div.overlay-container {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.75);
}
div.overlay {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
}
div.overlay-header {
    order: 1;
    background-color: #F3F0D8;
    border-left: 3px solid #C6B883;
    border-right: 3px solid #C6B883;
    border-top: 3px solid #C6B883;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.overlay-header span.overlay-header {
    font-family: 'Indie Flower';
    color: #574F30;
    font-size: 24px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}
div.overlay-header button {
    box-sizing: border-box;
    border: 1px solid #99925D;
    background: none;
    background-color: #FCFAF5;
    margin: 0px;
    outline: inherit;
    -moz-border-radius: 5px; 
    border-radius: 5px;
    /*padding: 1px 6px;*/
    height: 25px;
    width: 25px;
}
div.overlay-content {
    order: 2;
    border-left: 3px solid #C6B883;
    border-right: 3px solid #C6B883;
    border-bottom: 3px solid #C6B883;
    background-color: #F3F0D8;
    /*box-shadow: 0px 5px 15px 3px #3D4D47;*/
    overflow-y: scroll;
}

/* subcontainer visibility */
input.overlay-subcontainer-visibility[value="1"] + div.overlay-subcontainer { 
    display: block; 
}
input.overlay-subcontainer-visibility[value="0"] + div.overlay-subcontainer { 
    display: none; 
}
