div.feats-container {
    position: relative;
    width: 100%;
}
div.feat-item input.display-flag {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
div.feat-item input.feat-rule-display[value="0"] + span.feat-rule {
    display: none;
}
div.feat-item input.feat-rule-display[value="1"] + span.feat-rule {
    display: inline;
}

div.feat-item div.feat-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.feat-item span.feat-title {
    font-family: 'Gabriela';
    font-weight: bold;
    font-size: 1em;
}
div.feat-item button.feat-to-chat { 
    display: none; 
    line-height: 9px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    margin: 0;
	cursor: pointer;
	outline: inherit;
    box-shadow: none;
    z-index: 100;
}
div.feat-item:hover .feat-to-chat {
    display: inline;
}
div.feat-item .feat-to-chat:hover {
    color: red;
}
div.feat-item span.feat-rule {
    font-size: .8em;
    margin: 0px;
}
div.feat-item {
    border: 1px dashed #99925D;
    background-color: #FCFAF5;
    padding: 1px 5px;
    box-sizing: border-box;
    margin-bottom: 2px;
    line-height: normal;
}

/* Style buttons on container */
div.feats-container button.repcontrol_edit, 
div.feats-container button.add-feat {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    border: 1px solid #99925D;
    background: none;
    background-color: #FCFAF5;
    margin: 0px;
    outline: inherit;
    -moz-border-radius: 5px; 
    border-radius: 5px;
    padding: 1px 6px;
}
div.feats-container button.repcontrol_edit:hover, 
div.feats-container button.add-feat:hover {
    background-color: rgb(200, 200, 170);
}
div.feats-container button.repcontrol_edit::after, 
div.feats-container button.add-feat::after {
    font-family: Pictos;
}
   
/* Add button */
div.feats-container button.add-feat {
    right: 75px;
}

div.feats-container button.add-feat::after {
    content: ' &'; /* "+" symbol in Pictos font */
}

/* Built-in fieldset button groups */
[data-groupname=repeating_feats] > button.btn.repcontrol_add { 
    /* Make the button disappear */
    margin: 0px; padding: 0px; line-height: 0px; height: 0px; width: 0px; overflow: hidden; border: 0; 
}
[data-groupname=repeating_feats] > button.btn.repcontrol_edit {
    right: 0;
    width: 71px;
}
[data-groupname=repeating_feats] > button.btn.repcontrol_edit::after { 
    content: " y"; /* "gear" symbol in Pictos font */
}

[data-groupname=repeating_feats] a.btn.repcontrol_move { 
    position: relative;
    left: -20px;
    width: 20px;
    height: 20px;
    padding: 0px 2px;
    box-sizing: border-box;
    z-index: 10;
}
[data-groupname=repeating_feats] button.btn.repcontrol_del { 
    position: relative;
    right: -20px;
    width: 20px;
    height: 20px;
    padding: 0px 2px;
    box-sizing: border-box;
    z-index: 10;
}

div.repcontrol[data-groupname=repeating_feats] {
    height: 3px;
}


